<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="plantilla/template.html">>
	</head>
	<body>
		<div class="container">
			<h1 th:text="${titulo}"></h1>
			<p th:text="${clientes}"></p>
		</div>
		
		<div class="container">
			<table class="table">
			  <thead>
			   	<tr>
					<h scope="col">ID</h>
					<h scope="col">Nombre</h>
					<h scope="col">Apellidos</h>
					<h scope="col">Teléfono</h>
					<h scope="col">Correo</h>
					<h scope="col">Ciudad</h>
				</tr>
			  </thead>
			  <tbody>
			    <tr th:each="cl:${clientes}" class="table-active">
			      <th scope="row" th:text="${cl.id}"></th>
				  <td th:text="${cl.nombres}"></td>
				  <td th:text="${cl.apellidos}"></td>
				  <td th:text="${cl.telefono}"></td>
				  <td th:text="${cl.email}"></td>
				  <td th:text="${cl.ciudad.id}"></td>
			    </tr>
			    <tr>
			      ...
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td colspan="2" class="table-active">Larry the Bird</td>
			      <td>@twitter</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		
		<footer th:insert="plantilla/template::footer"></footer>
	</body>
</html>